@import "./style/_variables.scss";

.app {
}

.logo {
  margin-right: 16px;
}

.container {
  padding: 40px;
}

.hackContainer {
  padding: 40px;
}

.commTitle {
}

.jogosRecentes {
  padding: 24px 0;
}

.trailers {
  padding: 24px 0;
  background: url("./images/bg80.jpg") no-repeat bottom center;
  background-size: cover;
}
.comunidade {
  padding: 24px 0;
  background-color: rgb(25, 9, 28);
}

.listLink {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1rem;
}

.listLink:hover {
}

.hero {
  .current {
    padding: 80px 40px;
    background-color: rgba(25, 9, 28, 0.87);
  }
  .description {
    width: 60%;
    p {
      line-height: 1.6rem;
    }
  }

  .title {
    color: #f70e4a;
  }
}

.plataformaItem {
  padding-right: 8px;
  display: inline-block;
}

.rgb {
  span {
    display: block;
    height: 2px;
    width: 5%;
    margin: 3px 0;
  }
  .r {
    background-color: #f70e4a;
  }
  .g {
    background-color: #24ea28;
  }
  .b {
    background-color: #25a9f0;
  }

  &.full {
    span {
      width: 100%;
    }
  }
}

.gridListTitle {
  color: #25a9f0;
}

.gridItem {
  position: relative;
  border-bottom: 4px solid rgba($color: #000000, $alpha: 0.3);
  transition: all 0.2s ease-in-out;

  &:hover {
    border-bottom: 4px solid rgba($color: #25a9f0, $alpha: 1);

    img {
      filter: saturate(125%);
    }
  }

  .gridItemLink {
    display: block;
    position: relative;
  }

  .mask {
    position: absolute;
    width: 100%;
    min-height: 60%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    padding: 8px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.76+69 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.76) 69%,
      rgba(0, 0, 0, 0.76) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.76) 69%,
      rgba(0, 0, 0, 0.76) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.76) 69%,
      rgba(0, 0, 0, 0.76) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c2000000',GradientType=0 ); /* IE6-9 */
  }

  .title {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 16px 8px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.76+69 */
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.76) 69%,
      rgba(0, 0, 0, 0.76) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.76) 69%,
      rgba(0, 0, 0, 0.76) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.76) 69%,
      rgba(0, 0, 0, 0.76) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c2000000',GradientType=0 ); /* IE6-9 */
  }

  .titleLink {
    text-decoration: none;
    font-weight: 600;
  }
}
